.navLink {
  overflow: hidden;
  border-radius: unset;

  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--primary-foreground);
    transition: transform 0.3s;
  }

  color: var(--primary-foreground);

  &:not(.active) {
    &:hover {
      &::after {
        transform: translateY(-2px);
      }
    }
  }

  &.active {
    &::after {
      transform: translateY(-2px);
    }
  }
}

.header-container {
  background-color: var(--dark-orange);
}

.logo-text {
  color: var(--white);
}

[data-theme="dark"] {
  .header-container {
    background-color: black;
    box-shadow: 0px 5px 10px var(--dark-orange);
    color: var(--dark-orange);
  }

  .navLink {
    color: var(--white);

    &::after {
      background-color: var(--white);
    }
  }

  .logo-text {
    color: var(--dark-orange);
  }
}
