.socialsvg path {
  fill: var(--color-neutral-500);
  transition: fill 0.25s;
}

.socialsvg a:hover path {
  fill: var(--graphite);
}

[data-theme="dark"] {
  .socialsvg path {
    fill: var(--color-neutral-300);
  }

  .socialsvg a:hover path {
    fill: var(--white);
  }
}
